<main>
  <div class="topMenu">
    <button [routerLink]="[ '/cabinet/personal-data' ]" class="menu-admin-button">Особисті дані</button>
    <button [routerLink]="[ '/cabinet/order-history' ]" class="menu-admin-button">Історія замовлень</button>
    <button [routerLink]="[ '/cabinet/change-password' ]" class="menu-admin-button">Зміна паролю</button>
    <button [routerLink]="[ '' ]" class="exit-button" (click)="logOut()">Вихід</button>
  </div>
  <div class="mainContent">
    <router-outlet></router-outlet>
  </div>

</main>




