<!--<div class="col-lg-9 col-xl-5 cabinet-content">-->
<form class="form" id="user-edit-form">

  <div class="form-group">
    <div class="form-title title">
      <i class="number-title"><b>1.</b></i>
      <h5>Особисті дані</h5>
    </div>

    <div class="row-personal-info">
      <div class="first-name">
        <input type="text" class="input" name="first_name" placeholder="*Ваше ім'я" value=""
               required="">
      </div>
      <div class="second-name">
        <input type="text" class="input" name="last_name" placeholder="*Ваше прізвище" value=""
               required="">
      </div>
    </div>

    <input class="input inputmask" name="phone" type="text" inputmode="numeric"
           placeholder="*Ваш номер телефону" value="" required="">
    <input type="email" name="email" class="input" placeholder="*Ваш емейл" value=""
           required="">
  </div>
  <div class="addresses">
    <div class="form-title title">
      <i class="number-title"><b>2.</b></i>
      <h5>Адреси</h5>
    </div>
    <div class="buttons">
      <button class="button-border" type="button">ДОДАТИ АДРЕСУ</button>
      <button class="button-fully-bg" type="button">ЗБЕРЕГТИ ЗМІНИ</button>
    </div>
    <button class="button-fully-bg" type="button" (click)="logOut()">Вихід</button>
  </div>

</form>

