<div class="content-dialog-delivery">
  <h2>Привіт!</h2>
  <h2 class="color-accent">Обери спосіб отримання замовлення</h2>
  <form action="" [formGroup]="deliveryForm">
    <div class="buttons-delivery">
      <button mat-button class="type-delivery-button" (click)="selectDeliveryType('ДОСТАВКА КУР’ЄРОМ')">
        <div class="button-content">
          <img src="assets/img/delivery_popup_one.svg" alt="">
          <span>ДОСТАВКА КУР’ЄРОМ</span>
        </div>
      </button>
      <span>або</span>
      <button mat-button class="type-delivery-button" (click)="selectDeliveryType('САМОВИВІЗ')">
        <div class="button-content">
          <img src="assets/img/delivery_popup_two.svg" alt="">
          <span>САМОВИВІЗ</span>
        </div>
      </button>
    </div>
  </form>

</div>
