<div class="contentLeft">
  <button class="addDiscountForm" (click)="openForm()"> Додати категорію </button>
  <form class="form" *ngIf="clickerOpenForm" [formGroup]="categoryForm" (ngSubmit)="addPost()">
    <div class="block">
      <input type="text" placeholder="Назва" name="name" formControlName="name" id="name">
    </div>
    <div class="block">
      <input type="text" placeholder="Шлях" name="path" formControlName="path" id="path">
    </div>
    <ng-container *ngIf="!isUploaded">
      <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile" (change)="upload($event)">
      </div>
      <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped" role="progressbar"
             [style.width.%]="uploadPercent"
             aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="isUploaded">
      <img [src]="valueByControl('imagePath')" alt="" id="imagePath">
      <button type="button" class="btn btn-danger" (click)="deleteImage()">delete</button>
    </ng-container>
    <button [disabled]="categoryForm.invalid"  type="submit" class="addPost">
      {{ clickerSave ? 'Зберегти зміни' : 'Додати' }}
    </button>
  </form>
</div>
<div class="contentRight">
  <table>
    <thead>
    <th>№</th>
    <th>Назва</th>
    <th>Шлях</th>
    <th>Картинка</th>
    <th>Дії</th>
    </thead>
    <tbody>
    <tr *ngFor="let category of adminCategories">
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>{{ category.path }}</td>
      <td class="td-img">
        <img [src]="category.imagePath" alt="" height="50px">
      </td>
      <td class="buttons-control">
        <button class="button-edit" (click)="editPost(category)"> Редагувати </button>
        <button [disabled]="clickerSave" class="button-delete" (click)="deletePost(category)"> Видалити </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
