<div class="about-content">
  <h2 class="title">
    Про
    <span class="accent-color">нас</span>
  </h2>
  <div class="about-info">
    <div class="text-side">
      <h2>NOA - місце, де багато живого вогню і смачних страв з особливим східним характером</h2>
      <p>Бренд паназійських ресторанів ”NOA” заснований у 2018 р.

        На сьогоднішній день у Львові працює 5 ресторанів мережі.

        В основі меню – авторська версія паназійської кухні. Ми любимо експериментувати. Застосовуємо азійські традиції
        в стравах інших країн. І навпаки. Шукаємо баланс в смаках з усіх кінців світу. І як тільки рівновагу знайдено,
        страва з’являється в нашому меню.

        І абсолютно неважливо чи замовляєте ви страви, відвідуючи наш ресторан, оформляєте take away або замовлення на
        доставку. Ми гарантуємо, що кожна страва на нашій кухні готуватиметься з турботою і любов’ю до деталей і ніяк
        інакше!</p>
    </div>
    <div class="image-side">
      <img src="assets/img/image_about.webp" alt="">
    </div>
  </div>
</div>
