
<div class="top-discounts">
  <hr>
  <div   *ngFor="let categoryThai of categoriesThaiItems">
     <span  [ngClass]="{ 'active': isActive(categoryThai.path) }"
            *ngIf="isActive(categoryThai.path)" class="page-title">{{ categoryThai.name }}</span>
  </div>
</div>
<div class="menu">
  <ul>
    <li [routerLink]="[ '/product-thai']">Всі</li>
    <li *ngFor="let categoryThai of categoriesThaiItems" [routerLink]="[ '/product-thai/'+categoryThai.path]">{{ categoryThai.name }}</li>
  </ul>
</div>
<div class="menu-items">
  <div class="row">
    <ng-container *ngIf="productThaiItems.length > 0">
      <div class="cards">
        <div class="card" *ngFor="let product of productThaiItems">
          <img [routerLink]="[ '/product-thai/'+product.category.path, product.id ]" [src]="product.imagePath"
               class="card-img-top" alt="...">
          <span [routerLink]="[ '/product-thai/'+product.category.path, product.id ]"
                class="txtTitle"><b>{{ product.name }}</b></span>
          <div class="details-item">
            <span class="ingridients-text"> {{ product.ingridients }} </span>
            <span> {{ product.weight }} г </span>
          </div>
          <div class="details-item-price">
            <span><b> {{ product.price * product.count }} </b> грн</span>
            <div class="counting-items">
              <button (click)="productCount(product, false)" type="button">-</button>
              <input type="number" [value]="product.count" class="counter-value">
              <button (click)="productCount(product, true)" type="button">+</button>
            </div>
            <button class="more-about-discount" (click)="addToBasket(product)">Замовити</button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="productThaiItems.length === 0">
      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h1 class="text-center">Товари відсутні</h1>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </ng-container>
  </div>
</div>
<!-- </div> -->
