<!-- <div class="menu-content"> -->

<div class="top-discounts">
  <hr>
  <span *ngIf="isActive('products')" [ngClass]="{ 'active': isActive('products') }" class="page-title">Продукти</span>
  <span *ngIf="isActive('rolls')" [ngClass]="{ 'active': isActive('rolls') }" class="page-title">Роли</span>
  <span *ngIf="isActive('sets')" [ngClass]="{ 'active': isActive('sets') }" class="page-title">Сети</span>
  <span *ngIf="isActive('drinks')" [ngClass]="{ 'active': isActive('drinks') }" class="page-title">Напої</span>
  <span *ngIf="isActive('sauces')" [ngClass]="{ 'active': isActive('sauces') }" class="page-title">Соуси</span>
</div>
<div class="menu">
  <ul>
    <li>Всі</li>
    <li>Роли Філадельфія</li>
    <li>Роли Каліфорнія</li>
    <li>Запечені Роли</li>
    <li>Фірмові Суші</li>
    <li>Роли Макі</li>
    <li>Преміум Суші</li>
  </ul>
</div>
<div class="menu-items">
  <div class="row">
    <ng-container *ngIf="productItems.length > 0">
      <div class="cards">
        <div class="card" *ngFor="let product of productItems">
          <img [routerLink]="[ '/product/'+product.category.path, product.id ]"  [src]="product.imagePath" class="card-img-top" alt="...">
          <span [routerLink]="[ '/product/'+product.category.path, product.id ]" class="txtTitle"><b>{{ product.name }}</b></span>
          <div class="details-item">
            <span class="ingridients-text"> {{product.ingridients}} </span>
            <span> {{product.weight}} г </span>
          </div>
          <div class="details-item-price">
            <span><b> {{product.price * product.count}} </b> грн</span>
            <div class="counting-items">
              <button (click)="productCount(product, false)" type="button">-</button>
              <input type="number" [value]="product.count" class="counter-value">
              <button (click)="productCount(product, true)" type="button">+</button>
            </div>
            <button class="more-about-discount" (click)="addToBasket(product)">Замовити</button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="productItems.length === 0">
      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h1 class="text-center">Товари відсутні</h1>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </ng-container>
  </div>
</div>
<!-- </div> -->
