<div class="vacancy-info-content">
  <div class="banner-align size-2 banner-custom">
    <div class="banner-bg">
      <img src="assets/img/team.jpg" alt="">
      <div class="opacity"></div>
    </div>
    <div class="banner-content">
      <div class="banner-info">
        <p>Місто</p>
        <p>Lviv</p>
      </div>
    </div>
  </div>
  <div class="vacancy-details">
    <div class="left-part">
      <p>
        Привіт)
        Тебе вітає команда HR – відділу нашої компанії!
        Для початку маємо сказати, що ми дуже любимо свою роботу!
        І зробимо все можливе щоб і тобі у нас сподобалось.
        Наша компанія на ринку з 2016 року, зараз у нас більше десяти ресторанів різних напрямків, і ми продовжуємо
        працювати над новими проектами.
        Знаємо, що основа будь якої справи – це люди, тому будемо дуже раді, якщо зможемо запропонувати роботу тобі до
        душі.
        У нас є вакансії в різних локаціях по місту, а також в офісі, тому впевнені що маємо хороші варіанти для
        найрізноманітніших запитів.
        Ми завжди пропонуємо конкурентну заробітну плату, можливість карʼєрного росту, у нас багато цікавих навчальних
        програм та найрізноманітніших бонусів.
      </p>
      <p>
        Для детальнішої інформації – дзвони, пиши: <br>
        Директор з персоналу Бріжанкіна Ольга <br>
        <a class="color-accent" href="tel:+380678844699">+380678844699 </a> (viber/TG) <br>
        Старший рекрутер Деменчук Дарія <br>
        <a class="color-accent" href="tel:+380678844699">+380636581430 </a> <br>
        <a class="color-accent" href="tel:+380678844699">+380678844695 </a> (viber/TG) <br>
        <a class="color-accent" href="https://www.linkedin.com/in/daria-demenchuk-69b703209">https://www.linkedin.com/in/daria-demenchuk-69b703209 </a>
        <br>
        Рекрутер Гладиш Марія <br>
        <a class="color-accent" href="tel:+380678844699">+380639581747 </a> <br>
        <a class="color-accent" href="tel:+380678844699">+380676996634 </a> (viber/TG) <br>
        <a class="color-accent" href=" https://www.linkedin.com/in/mariia-hladysh-99638818a/ ">
          https://www.linkedin.com/in/mariia-hladysh-99638818a/ </a> <br>
        <br>
        Рекрутер Прийма Софія <br>
        <a class="color-accent" href="tel:+380930204956">++380930204956 </a> <br>
        <a class="color-accent" href="tel:+380678844699">+380671070761 </a> (viber/TG) <br>
        <a class="color-accent" href=" https://www.linkedin.com/in/sofiya-pryima-8b1323215/ ">
          https://www.linkedin.com/in/sofiya-pryima-8b1323215/ </a> <br>
      </p>
    </div>
    <div class="right-part">
      <h4><b>Заявка на вакансію</b></h4>
      <p>Заповніть дану заявку і ми зв’яжемося з вами найближчим часом</p>
      <div class="row">
        <div class="form-group">
          <mat-form-field color="primary" appearance="outline">
            <input matInput placeholder="Ваше ім'я" type="text" formControlName="firstName"
                   class="input-authorization">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Ваше прізвище" type="text" formControlName="lastName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="form-group">
        <mat-form-field color="primary" appearance="outline">
          <input matInput placeholder="Ваш телефон" type="tel" formControlName="phoneNumber"
                 class="input-authorization">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Ваш email" type="email" formControlName="email">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Чому ви хочете працювавти з нами?" type="text" formControlName="text">
        </mat-form-field>
      </div>
      <button mat-flat-button color="accent" type="button"  mat-dialog-close
              class="login-button">Надіслати
      </button>
        </div>
  </div>
</div>
