$dark: #141414;
$light: #f5f5f5;
$accent: #2D7D7D;
$grey: rgb(109, 109, 109);
$font-bold: Cera Round Pro Bold;
$font-regular: Cera Round Pro Regular;
$font-thin: Cera Round Pro Thin;

* {
  font-family: $font-regular;
}

.form {
  width: 90%;
  padding: 0 5px 5px 25px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-title {
  display: flex;
  gap: 15px;
}

.form .form-title {
  margin-bottom: 20px;
}

.title {
  color: #252525;
  font-weight: bold;
}

.form .input {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  font-size: 16px;
  height: 56px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: #252525;
  line-height: 56px;
  padding: 0 20px 0 23px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  text-overflow: ellipsis;
  outline: transparent;
}
.input:focus {
  outline: 1px solid $accent;
}

.row-personal-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-name {
  width: 45%;
}

.second-name {
  width: 45%;

}

.exit-button {
  width: 85px;
  height: 45px;
  //margin: 0 auto;
  background-color: $accent;
  color: $accent;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cancel-changes {
  width: 220px;
  height: 60px;
  background-color: transparent;
  border: 2px solid $accent;
  color: $accent;
  border-radius: 10px;
  font-weight: bolder;
  text-transform: uppercase;
  transition: 0.3s;
}
.cancel-changes:hover {
  background-color: $accent;
  border: 2px solid $accent;
  color: $light;
}
.save-changes {
  width: 220px;
  height: 60px;
  background-color: $accent;
  border: 2px solid $accent;
  color: $light;
  border-radius: 10px;
  font-weight: bolder;
  text-transform: uppercase;
  transition: 0.3s;

}

.save-changes:hover {
  background-color: transparent;
  border: 2px solid $accent;
  color: $accent;
}

.save-changes:disabled {
  cursor: auto;
  background-color: rgb(184, 194, 225);
  color: white;
  border: none;
}

