<form class="form" id="user-edit-form">

  <div class="form-group">
    <div class="form-title title">
      <h5>Зміна паролю</h5>
    </div>
    <input type="text" class="input" name="" placeholder="*Ваш поточний пароль" value=""
           required="">

    <input type="text" class="input" name="" placeholder="*Новий пароль" value=""
           required="">

    <input class="input" name="" type="text" inputmode="numeric"
           placeholder="*Повторіть пароль" value="" required="">
    <div class="buttons">
      <button type="button" class="cancel-changes">Скасувати</button>
      <button type="button" class="save-changes">Зберегти зміни</button>

    </div>
  </div>

</form>
