<div class="contentLeft">
  <button class="addDiscountForm" (click)="openForm()"> Додати продукт</button>
  <form class="form" *ngIf="clickerOpenForm" [formGroup]="productForm" (ngSubmit)="addProduct()">

    <div class="select-container">
      <label for="category">Категорія:</label>
      <select formControlName="category" name="category" id="category">
        <option selected disabled >--Please choose an option--</option>
        <option [ngValue]="category" *ngFor="let category of adminCategories" class="option">
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="block">
      <input type="text" placeholder="Назва" name="name" formControlName="name">
    </div>
    <div class="block">
      <input type="text" placeholder="Інгрідієнти" name="ingridients" formControlName="ingridients">
    </div>
    <div class="block">
      <input type="text" placeholder="Вага" name="weight" formControlName="weight">
    </div>
    <div class="block">
      <input type="text" placeholder="Ціна" name="price" formControlName="price">
    </div>
    <ng-container *ngIf="!isUploaded">
      <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile" (change)="upload($event)">
      </div>
      <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped" role="progressbar"
             [style.width.%]="uploadPercent"
             aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="isUploaded">
      <img [src]="valueByControl('imagePath')" alt="">
      <button type="button" class="btn btn-danger" (click)="deleteImage()">delete</button>
    </ng-container>
    <!-- <span>{{ errorTxt }}</span> -->
    <button [disabled]="productForm.invalid" type="submit" class="addPost">
      {{ clickerSave ? 'Зберегти зміни' : 'Додати' }}
    </button>
  </form>
</div>
<div class="contentRight">
  <table>
    <thead>
    <th>№</th>
    <th>Категорія</th>
    <th>Назва</th>
    <th>Інгрідієнти</th>
    <th>Вага</th>
    <th>Ціна</th>
    <th>Картинка</th>
    <th>Дії</th>
    </thead>
    <tbody>
    <tr *ngFor="let product of adminThaiProducts">
      <td>{{ product.id }}</td>
      <td>{{ product.category.name }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.ingridients }}</td>
      <td>{{ product.weight }} г</td>
      <td>{{ product.price }} грн</td>
      <td class="td-img">
        <img [src]="product.imagePath" alt="" height="50px">
      </td>
      <td class="buttons-control">
        <button class="button-edit" (click)="editProduct(product)"> Редагувати</button>
        <button class="button-delete" (click)="deleteProduct(product)"> Видалити</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
