<div class="delivery-component">
    <div class="often-delivered">
        <h2>В нас часто замовляють</h2>
      <div class="menu-items-product">
        <div class="row">
          <ng-container *ngIf="productItems.length > 0">
            <div class="cards">
              <div class="card-product" *ngFor="let product of productItems.slice(0,4)">
                <img [routerLink]="[ '/product/'+product.category.path ]" [src]="product.imagePath" class="card-img-top"
                     alt="...">
                <div class="details-item-price">
                  <span class="txtTitle-product"><b>{{ product.name }}</b></span>
                  <span  class="price"><b> {{ product.price }} </b> грн</span>
                </div>
                <div class="details-item">
                  <span class="ingridients-text"> {{ product.ingridients }} </span>
                  <span> {{ product.weight }} г </span>
                </div>
                <div class="details-item-price">
                  <div class="counting-items">
                    <button (click)="productCount(product, false)" type="button">-</button>
                    <input [value]="product.count" class="counter-value">
                    <button (click)="productCount(product, true)" type="button">+</button>
                  </div>
                  <button class="more-about-discount" (click)="addToBasket(product)">Замовити</button>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="productItems.length === 0">
            <div class="card text-center">
              <div class="card-header"></div>
              <div class="card-body">
                <h1 class="text-center">Товари відсутні</h1>
              </div>
              <div class="card-footer text-muted"></div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="popular-orders">
        <h2>Популярні категорії</h2>
      <div class="menu-items-product">
        <div class="row">
          <ng-container *ngIf="productItems.length > 0">
            <div class="cards">
              <div class="card-product" *ngFor="let product of productItems.slice(0,4)">
                <img [routerLink]="[ '/product/'+product.category.path ]" [src]="product.imagePath" class="card-img-top"
                     alt="...">
                <div class="details-item-price">
                  <span class="txtTitle-product"><b>{{ product.name }}</b></span>
                  <span  class="price"><b> {{ product.price }} </b> грн</span>
                </div>
                <div class="details-item">
                  <span class="ingridients-text"> {{ product.ingridients }} </span>
                  <span> {{ product.weight }} г </span>
                </div>
                <div class="details-item-price">
                  <div class="counting-items">
                    <button (click)="productCount(product, false)" type="button">-</button>
                    <input [value]="product.count" class="counter-value">
                    <button (click)="productCount(product, true)" type="button">+</button>
                  </div>
                  <button class="more-about-discount" (click)="addToBasket(product)">Замовити</button>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="productItems.length === 0">
            <div class="card text-center">
              <div class="card-header"></div>
              <div class="card-body">
                <h1 class="text-center">Товари відсутні</h1>
              </div>
              <div class="card-footer text-muted"></div>
            </div>
          </ng-container>
        </div>
      </div>
        <button class="all-menu-button" [routerLink]="[ '/product/sushi-sets' ]">все меню</button>
    </div>
    <div class="payment-delivery">
        <h2>Доставка і оплата</h2>
        <div class="content-delivery">
            <div class="left-img-delivery">
                <div class="bike-img">
                    <img src="assets/img/bike_green.svg" alt="">
                </div>
                <div class="bike-img">
                    <img src="assets/img/bike-1.svg" alt="">
                </div>
                <div class="bike-img">
                    <img src="assets/img/bike_red.svg" alt="">
                </div>
            </div>
            <div class="left-delivery">
                <div class="block-zone">
                    <span class="green-item">Зелена зона</span>
                    <ul class="list-delivery green-item-list">
                        <li>Орієнтовний час доставки 45 хвилин</li>
                        <li>При замовленні від 350 грн привеземо БЕЗКОШТОВНО</li>
                        <li>При замовленні до 350 грн вартість доставки 80 грн</li>
                    </ul>
                </div>
                <div class="block-zone">
                    <span class="yellow-item">Жовта зона</span>
                    <ul class="list-delivery yellow-item-list">
                        <li>Орієнтовний час доставки 55 хвилин</li>
                        <li>При замовленні від 350 грн привеземо БЕЗКОШТОВНО</li>
                        <li>При замовленні до 350 грн вартість доставки 80 грн</li>
                    </ul>
                </div>
                <div class="block-zone">
                    <span class="red-item">Червона зона</span>
                    <ul class="list-delivery red-item-list">
                        <li>Орієнтовний час доставки 65 хвилин</li>
                        <li>Мінімальне замовлення 400 грн вартість доставки 120 грн</li>
                        <li>При замовленні від 600 грн привеземо БЕЗКОШТОВНО</li>
                        <li>Доставка доступна до 21:00</li>
                    </ul>
                </div>
            </div>
            <div class="right-delivery-map">
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41198.0200902755!2d23.963485530389786!3d49.807194040678716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add0e2afbfa2d%3A0xcf5ab0e8115fd262!2sNOA!5e0!3m2!1sen!2sua!4v1712597187005!5m2!1sen!2sua"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="delivery-info">
            <h1>Доставка їжі у Львові: замовляй улюблені страви з NOA</h1>
            <p>Cніданок, обід або вечеря — безкоштовна доставка їжі у Львові з ресторану NOA виручає завжди! Смачні
                страви
                азійської кухні, розмаїття рецептів та найшвидші у світі кур’єри: ми дбаємо про те, щоб замовити їжу
                можна
                було легко й комфортно. Тож сьогодні розкажемо більше про те, як працює наша доставка!</p>
        </div>

    </div>
    <div class="details-delivery-component">
        <h1>Оплата</h1>
        <div class="types-of-payment">
            <div class="block-payment-method">
                <img src="assets/img/pay_page_one.svg" alt="">
                <div class="info-payment">
                    <span>Оплата LiqPay</span>
                    <p>Розраховуйся онлайн за своє замовлення через сервіс LiqPay на сайті</p>
                </div>
            </div>
            <div class="block-payment-method">
                <img src="assets/img/pay_page_two.svg" alt="">
                <div class="info-payment">
                    <span>Оплата карткою</span>
                    <p>Наш кур'єр має з собою термінал та приймає карту для оплати</p>
                </div>
            </div>
            <div class="block-payment-method">
                <img src="assets/img/pay_page_tree-1.svg" alt="">
                <div class="info-payment">
                    <span>Оплата готівкою</span>
                    <p>Сплачуй готівкою при отриманні замовлення, попередь якщо потрібна решта</p>
                </div>
            </div>
        </div>
        <div class="delivery-text-block">
            <h1>Доставка їжі з NOA: які страви ми пропонуємо?</h1>
            <p>Величезне меню з традиційними ролами, локшиною вок, десертами та напоями, які підкреслюють смак страв. Ми
                створюємо азійські страви зі свіжих та добірних компонентів. Наші кухарі дбають про правильне зберігання
                й
                ретельно обробку всіх складників. Саме тому, кожна страва з нашого меню — досконала. А гості НОА —
                завжди
                задоволені.
                В нашому ресторані ви можете замовити їжу на будь-який смак:</p>
            <ul class="list-delivery accent-item-list">
                <li>Роли та суші-сети — як традиційні, так і авторські. З лососем, вугрем та іншими смачними
                    складниками.
                </li>
                <li>WOK — локшину й рис. Готуємо вок з куркою, морепродуктами, овочами та власноруч розробленими
                    соусами.
                    Маємо пікантні страви для тих, хто полюбляє гостре.
                </li>
                <li>Рамени — з яловичиною, курятиною, свининою, морепродуктами, гьодзе. Ситно та смачно.</li>
                <li>Poke-боули — з тунцем, лососем та іншими смачними інгредієнтами.</li>
            </ul>
            <p>
                Кожного дня з 10 ранку та до 18:00 у нас можна посмакувати сніданками. Ви можете замовити сирники,
                хашбраун,
                омлети та тости. Починайте день смачно! <br>
                Окрім цього, у нас є десерти, стартери, напої. Ви можете замовити доставку будь-яких страв для
                повноцінного
                обіду, вечері або зустрічі з друзями. Тому якщо любите смачно поїсти, не витрачаючи час біля плити — вам
                до
                нас!
            </p>
            <h1>Як працює наша доставка їжі у Львові?</h1>
            <p>Розповімо, як саме ми доставляємо наші страви. Для зручності, ділимо Львів на зони доставки – Зелену та
                Жовту.</p>
            <p> Найближчі населені пункти (Рясне Руське, Зимна Вода, Давидів тощо) відносимо до Червоної зони. Кожна
                зона
                має чітко визначений час приїзду кур’єра, а також суму мінімального замовлення та вартість доставки.
                Саме
                тому, ви можете легко перевірити, коли саме отримаєте ваші страви.</p>
            <p> Доставка в Зелену зону Львова – здійснюємо до 45 хвилин. Доставка в Жовту зону – до 59 хвилин, а в
                Червону —
                до 65 хвилин. Ми цінуємо ваш час, прагнемо привезти їжу ароматною та свіжою. Саме тому, кур’єри обирають
                оптимальні маршрути містом: вони знають, як об’їхати затори в годину пік.</p>
            <p> Окрім доставки, у нас працює послуга самовивозу. Якщо ви мешкаєте поруч, можете завітати до нас та
                забрати
                замовлення самостійно у найближчому ресторані НОА. Просто оберіть опцію самовивозу або повідомте, що
                хочете
                забрати страви самостійно, телефоном.</p>
            <h1>Як оплатити доставку їжі з NOA?</h1>
            <p>Діє безкоштовна доставка замовлень на суму 300 грн (Зелена та Жовта зони) й 350 грн у Червоній зоні. У
                вас є можливість оплатити своє замовлення можна зручними способами — на сайті через систему LiqPay,
                карткою або готівкою кур’єру. Просто вкажіть варіант, який вам підходить.</p>
            <span>NOA — це:</span>
            <ul class="list-delivery accent-item-list">
                <li>Лише добірні компоненти. Дбаємо про якість кожного складника, щоб ви могли насолоджуватися справді
                    смачною та корисною їжею, приходячи до нас.
                </li>
                <li>Величезний вибір страв на будь-який смак. Ми знаємо про азійську кухню все, та навіть більше.
                    Вдосконалюємо традиційні рецепти та створюємо авторські новинки для вас.
                </li>
                <li>Швидка доставка. Ви отримаєте замовлення без затримок — це гарантують наші швидкі кур’єри. Робимо
                    усе можливе для того, щоб ви могли смакувати улюбленими стравами без затримок.
                </li>
            </ul>
            <p>Ми працюємо щодня та без вихідних, у будні й у свята. <br>
                Щоб замовити їжу у Львові, просто оберіть страви до смаку, додайте їх у кошик та дочекайтесь кур’єра.
                Також чекаємо на вас у нашому ресторані. Бажаємо смачного!</p>
        </div>
    </div>
</div>
